@model IEnumerable<QuanLyNhaThuoc.Models.NhanVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNV })
        </td>
    </tr>
}

</table>
